
.custom-background {
    background-color:#EEEEEE ;
    padding: 20px;
    border-radius: 5px;
    color: rgb(8, 8, 8);
}
h2{
    font-style: italic;
    color:rgb(5, 5, 5);
}

navbar-brand{
    text-decoration: underline;
}
.navbar-custom {
    background-color:#26355D;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white;
    font-weight: bold;
}
.value-added-services {
    margin-top: 100px;
    padding: 50px;
    background-color: #EEEEEE;
}
.value-added-services h2 {

    font-weight: bold;
    text-decoration: underline;
}
.value-added-services ul {
    list-style-type: none;
    padding: 0;
}
.value-added-services li {
    margin-bottom: 20px;
    font-size: 1.2em;
}
.value-added-services img {
    max-width: 100%;
    height: auto;
}
.business-hours-card {
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.card-header {
    background-color: #007bff;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card-body {
    padding: 20px;
}
.card-body p {
    margin: 0;
    font-size: 1rem;
    color: #555;
}


.contact-icon {
    color: white;
}
.card-body p a {
    color: white;
    text-decoration: none;
}
.card-body p a:hover {
    text-decoration: underline;
    
}

.hero-section {
    
    position: relative;
    width: 100%;
    height: 80vh;
    background: url('images/Hero.jpg') no-repeat center center/cover;
    color: #fff;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-heading {
    font-size: 3rem;
    font-weight: bold;
}

.hero-paragraph {
    font-size: 1.25rem;
    max-width: 600px;
    margin: 0 auto;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

#typewriter {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid rgb(10, 10, 10);
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 4s steps(30, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 80% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(20, 20, 20); }
}
